@model IEnumerable<Projet_GoFast.Models.Chauffeur>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adresse.Rue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voiture.Modele)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estPremiereConnection)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse.Rue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voiture.Modele)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estPremiereConnection)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChauffeurId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChauffeurId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChauffeurId })
        </td>
    </tr>
}

</table>
